/* Grund-Reset */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Deine Farbregler - 75px Breite auf dem Handy */
@media (max-width: 600px) {
    input[type=range] {
        width: 75px !important;
    }
}
