/* Verhindert Scrollen */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Fix für deine Slider auf dem Handy */
@media (max-width: 600px) {
    input[type=range] {
        width: 75px !important;
    }
}
