/* Grund-Reset für die Fläche */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Deine Slider-Breite auf dem Smartphone (75px) */
@media (max-width: 600px) {
    input[type=range] {
        width: 75px !important;
    }
}
